<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="components/vue/vue-list :: head('新增', 'commit')"></head>
<body>
<div id="app" style="padding-top: 10px">
    <el-row>
        <el-col :xs="{span: 24, offset: 0}" :sm="{span: 12, offset: 6}" :md="{span: 8, offset: 8}"
                :lg="{span: 8, offset: 8}" :xl="{span: 8, offset: 8}">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <!--<el-form-item label="id" prop="id">
                    <el-input v-model="ruleForm.id" placeholder="请输入id" :disabled="true"></el-input>
                </el-form-item>-->
                <el-form-item th:label="#{sideMenu.name}" prop="name">
                    <el-input v-model="ruleForm.name" th:placeholder="#{pleaseInput} + #{sideMenu.name}"></el-input>
                </el-form-item>
                <!--<el-form-item label="菜单图标" prop="icon">
                    <el-input v-model="ruleForm.icon" placeholder="请输入菜单图标"></el-input>
                </el-form-item>-->
                <el-form-item th:label="#{sideMenu.icon}" prop="icon">
                    <el-select v-model="ruleForm.icon" filterable th:placeholder="#{pleaseChoose}">
                        <el-option
                                v-for="item in icons"
                                :key="item.iconClass"
                                :label="item.label"
                                :value="item.iconClass">
                            <span style="float: left"><i v-bind:class="item.iconClass" style="font-size: 1.2em"></i></span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.label }}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item th:label="#{sideMenu.authorityName}" prop="authorities">
                    <el-select v-model="ruleForm.authorities" multiple th:placeholder="#{pleaseChoose}">
                        <el-option
                                v-for="item in roleTypeList"
                                :key="item.typeCode"
                                :label="item.typeName"
                                :value="item.typeCode">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item th:label="#{orderNum}" prop="orderNum">
                    <el-input v-model="ruleForm.orderNum" th:placeholder="#{pleaseInput} + #{orderNum}"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')"><span th:text="#{submit}"></span></el-button>
                    <el-button @click="closeWindow"><span th:text="#{close}"></span></el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
</body>
<script th:src="@{/js/vue/common.js}"></script>
<script th:src="@{/js/vue/validateRule.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //Vue.http.options.emulateJSON = true;
    //Vue.http.options.emulateHTTP = true;
    var headerName = [[${_csrf.headerName}]];
    axios.defaults.headers.common[headerName] = [[${_csrf.token}]];

    //国际化
    international([[${session.locale}]]);

    var requestUrls = {
        url: "/api/sideMenus/add"
    };

    var app = new Vue({
        el: '#app',
        data: {
            roleTypeList: [[${roleTypeList}]],
            icons: [[${icons}]],
            ruleForm: {
                id: "",
                name: "",
                icon: "",
                orderNum: "",
                menuType: "1",
                pid: "0",
                requestMethod: "*",
                showInMenu: "true",
                authorities: ""
            },
            rules: {
                name: [
                    {required: true, message: [[#{sideMenu.name}]] + [[#{notEmpty}]], trigger: 'blur'}
                ],
                icon: [
                    {required: true, message: [[#{sideMenu.icon}]] + [[#{notEmpty}]], trigger: 'blur'}
                ],
                orderNum: [
                    {required: true, message: [[#{orderNum}]] + [[#{notEmpty}]], trigger: 'blur'}
                ],
                authorities: [
                    {required: true, message: [[#{sideMenu.authorities}]] + [[#{notEmpty}]], trigger: "blur"}
                ]
            }
        },
        mounted: function () {

        },
        methods: {
            sendMessage(event) {
                console.log("sendMessage");
                closeLayer();
            },
            submitForm(formName) {
                parent.openLoading();
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http.post(requestUrls.url, this.ruleForm).then((response) => {
                            parent.closeLoading();
                            parent.showSuccess([[#{updateSuccess}]]);
                            parent.updateListData();
                            closeLayer();
                        }).catch((error) => {
                            parent.closeLoading();
                            let errorMessage = [[#{updateFailed}]];
                            if (error.response) {
                                errorMessage = error.response.data.message;
                            }
                            parent.showError(errorMessage);
                        });
                    } else {
                        parent.closeLoading();
                        setTimeout(()=>{
                            let isError= document.getElementsByClassName("is-error");
                            isError[0].querySelector('input').focus();
                        },100);
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            closeWindow(event) {
                closeLayer();
            },
            handleAvatarSuccess(res, file) {
                //this.ruleForm.headPhoto = URL.createObjectURL(file.raw);
                console.log(eval(res));
                res = eval(res);
                this.ruleForm.headPhoto = res.data[0];
            },
            beforeAvatarUpload(file) {
                console.log(file.type);
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG && !isPNG) {
                    this.$message.error('上传头像图片只能是 JPG/PNG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    });
    /*]]>*/
</script>
</html>