<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.QuartzJobMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.QuartzJob">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="is_concurrent" jdbcType="INTEGER" property="isConcurrent" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="trigger_name" jdbcType="VARCHAR" property="triggerName" />
    <result column="job_status" jdbcType="INTEGER" property="jobStatus" />
    <result column="spring_bean" jdbcType="VARCHAR" property="springBean" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
  </resultMap>

  <select id="getList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from t_s_quartz_job
  </select>
</mapper>