<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title,modules)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="${title}"></title>
    <script th:src="@{/js/easyui/base_loading.js}"></script>
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'easyui')}" th:href="@{/webjars/easyui/1.6.10/themes/super/css/font-awesome.min.css}">
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'easyui')}" th:href="@{/webjars/easyui/1.6.10/themes/super/superBlue.css}" id="themeCss"/>

    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:href="@{/webjars/jquery-file-upload/9.18.0/css/jquery.fileupload.css}">
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:href="@{/webjars/jquery-file-upload/9.18.0/css/jquery.fileupload-ui.css}">

    <!-- Include external CSS. -->
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" href="https://cdn.bootcss.com/codemirror/5.25.0/codemirror.min.css" rel="stylesheet">
    <!-- Include Editor style. -->
    <link th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" rel="stylesheet" th:href="@{/webjars/froala_editor/2.8.1/css/froala_editor.pkgd.min.css}">
    <link th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" rel="stylesheet" th:href="@{/webjars/froala_editor/2.8.1/css/froala_style.min.css}">
    <!-- CSS rules for styling the element inside the editor such as p, h1, h2, etc. -->
    <link th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" rel="stylesheet" th:href="@{/webjars/froala_editor/2.8.1/css/froala_style.min.css}">

    <link rel="stylesheet" th:href="@{/plug-in/buttons.jquery.plugin/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/easyui/common.css}">
    <style>
        /*解决ueditor宽度不占100%的问题*/
        .edui-editor{
            width: 100%!important;
        }
    </style>
</head>
<body>
<div th:fragment="js (modules)">
    <script th:if="${#strings.containsIgnoreCase(modules,'easyui')}" th:src="@{/webjars/easyui/1.6.10/jquery.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'easyui')}" th:src="@{/webjars/easyui/1.6.10/jquery.easyui.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'easyui')}" th:src="@{/webjars/easyui/1.6.10/themes/super/super.js}"></script>
    <script th:if="__${#locale}__ eq 'zh_CN'" th:src="@{/webjars/easyui/1.6.10/locale/easyui-lang-zh_CN.js}"></script>

    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/webjars/jquery-file-upload/9.18.0/js/vendor/jquery.ui.widget.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/webjars/jquery-file-upload/9.18.0/js/jquery.iframe-transport.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/webjars/jquery-file-upload/9.18.0/js/jquery.fileupload.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/webjars/jquery-file-upload/9.18.0/js/jquery.fileupload-process.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/webjars/jquery-file-upload/9.18.0/js/jquery.fileupload-validate.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'upload')}" th:src="@{/js/file_upload.js}"></script>

    <script th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" th:src="@{/webjars/froala_editor/2.8.1/js/froala_editor.pkgd.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" th:src="@{/webjars/froala_editor/2.8.1/js/languages/zh_cn.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" th:src="@{/webjars/froala_editor/2.8.1/js/plugins/file.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" th:src="@{/webjars/froala_editor/2.8.1/js/plugins/image.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'froala_editor')}" th:src="@{/webjars/froala_editor/2.8.1/js/plugins/draggable.min.js}"></script>

    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/neditor.config.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/neditor.all.min.js}"> </script>
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/neditor.service.js}"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/i18n/zh-cn/zh-cn.js}"></script>

    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/third-party/browser-md5-file.min.js}"></script>
    <!--<script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.10/third-party/jquery-1.10.2.min.js}"></script>-->

    <script th:if="${#strings.containsIgnoreCase(modules,'layer')}" th:src="@{/js/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/js/easyui/common.js}"></script>

</div>
</body>
</html>