<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="log.dir" value="logs" /><!-- 日志文件所在目录 -->
    <property name="log.file.name" value="oauthserver" /><!-- 日志文件名称 -->
    <property name="log.pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%5p) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx" />

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${log.file.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/${log.file.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder><!-- 必须指定，否则不会往文件输出内容 -->
            <pattern>${log.pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- https://github.com/qos-ch/logback/tree/master/logback-classic/src/main/resources/ch/qos/logback/classic/db/script -->
    <!-- 将日志写入MySQL数据库 -->
    <!--<appender name="DB-CLASSIC-MYSQL-POOL" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
                <url>jdbc:mysql://127.0.0.1:3306/thymelte?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false</url>
                <username>root</username>
                <password>19941017</password>
            </dataSource>
        </connectionSource>
        &lt;!&ndash; 临界值过滤器（ThresholdFilter），过滤掉低于指定临界值的事件。 &ndash;&gt;
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            &lt;!&ndash; 过滤掉TRACE，DEBUG，INFO级别的日志 &ndash;&gt;
            <level>warn</level>
        </filter>
    </appender>-->

    <!-- 将日志写入PostgreSQL数据库 -->
    <!--<appender name="DB-CLASSIC-POSTGRESQL-POOL" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>org.postgresql.Driver</driverClassName>
                <url>jdbc:postgresql://127.0.0.1:5432/thymelte?useUnicode=true&amp;characterEncoding=UTF-8</url>
                <username>postgres</username>
                <password>19961120</password>
            </dataSource>
        </connectionSource>
        &lt;!&ndash; 临界值过滤器（ThresholdFilter），过滤掉低于指定临界值的事件。 &ndash;&gt;
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            &lt;!&ndash; 过滤掉TRACE，DEBUG，INFO级别的日志 &ndash;&gt;
            <level>warn</level>
        </filter>
    </appender>-->

    <!-- additivity属性为false，表示此logger的打印信息不再向上级传递。 -->
    <logger name="com.simon" level="DEBUG" additivity="true" />
    <logger name="com.simon.mapper" level="DEBUG" additivity="true" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <!-- <logger name="org.springframework" level="ERROR" />  -->
    <logger name="net.sf.ehcache" level="ERROR"/>
    <!-- <logger name="org.mybatis.spring" level="ERROR"/> -->

    <!-- 1. 输出SQL 到控制台和文件-->
    <logger name="org.hibernate.SQL" additivity="false" level="DEBUG">
        <level value="DEBUG" />
        <appender-ref ref="ROLLING-FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 2. 输出SQL 的参数到控制台和文件-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" level="TRACE">
        <level value="DEBUG" />
        <appender-ref ref="ROLLING-FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 日志输出级别 TRACE < DEBUG < INFO < WARN < ERROR < FATAL-->
    <root level="INFO">
        <appender-ref ref="ROLLING-FILE" />
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="DB-CLASSIC-MYSQL-POOL" />-->
    </root>
</configuration>