<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.w3.org/1999/xhtml">
<head th:replace="components/vue/vue-list :: head('用户列表', 'list')"></head>
<body>
<div id="app">
    <template>
        <div style="margin-left: 6px;margin-bottom: 6px;">
            <el-form :inline="true" :model="searchForm" style="margin: 0; padding: 0;">
                <el-form-item label="用户名">
                    <el-input size="small" v-model="searchForm.username" placeholder="请输入用户名" clearable></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-select size="small" v-model="searchForm.enabled" placeholder="请输入有效">
                        <el-option label="--请选择--" value=""></el-option>
                        <el-option label="激活" value="true"></el-option>
                        <el-option label="禁用" value="false"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="手机号">
                    <el-input size="small" v-model="searchForm.phone" placeholder="请输入手机号" clearable></el-input>
                </el-form-item>
                <el-form-item label="邮箱">
                    <el-input size="small" v-model="searchForm.email" placeholder="请输入邮箱" clearable></el-input>
                </el-form-item>
                <el-form-item label="性别">
                    <el-select size="small" v-model="searchForm.sex" placeholder="请输入性别">
                        <el-option label="--请选择--" value=""></el-option>
                        <el-option label="男" value="true"></el-option>
                        <el-option label="女" value="false"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size="mini" icon="el-icon-search" @click="doSearch">搜索</el-button>
                    <el-button size="mini" icon="el-icon-refresh" @click="doReset">重置</el-button>
                </el-form-item>
            </el-form>
            <el-button th:if="${#authorization.expression('hasAnyRole(''__${add}__'')')}" type="primary" size="mini" icon="el-icon-plus" @click="doAdd">新增</el-button>
            <el-button type="primary" size="mini" icon="el-icon-upload2" @click="doImport">导入</el-button>
            <el-button type="primary" size="mini" icon="el-icon-download" @click="doExport">导出</el-button>
        </div>
        <el-table border stripe size="medium" height="320" :data="tableData" highlight-current-row
                  style="font-size: 12px"
                  v-loading="tableLoading" cell-style="padding:1px">
            <el-table-column align="center" type="index" :index="indexSerial" width="50"></el-table-column>
            <el-table-column align="center" prop="id" label="id" width="180"></el-table-column>
            <el-table-column align="center" prop="createUser" label="创建人" width="180"></el-table-column>
            <el-table-column align="center" prop="createDate" label="创建时间" width="180"></el-table-column>
            <el-table-column align="center" prop="updateUser" label="更新人" width="180"></el-table-column>
            <el-table-column align="center" prop="updateDate" label="更新时间" width="180"></el-table-column>
            <el-table-column align="center" prop="username" label="用户名" width="180"></el-table-column>
            <el-table-column align="center" prop="password" label="密码" width="200"
                             :show-overflow-tooltip="true"></el-table-column>
            <el-table-column align="center" prop="enabled" label="状态" :formatter="formatEnabled"
                             width="180"></el-table-column>
            <el-table-column align="center" prop="areaCode" label="手机区号" width="180"></el-table-column>
            <el-table-column align="center" prop="phone" label="手机号" width="180"></el-table-column>
            <el-table-column align="center" prop="email" label="邮箱" width="180"></el-table-column>
            <el-table-column align="center" prop="address" label="地址" width="180"
                             :show-overflow-tooltip="true"></el-table-column>
            <el-table-column align="center" prop="age" label="年龄" width="180"></el-table-column>
            <el-table-column align="center" prop="birth" label="生日" width="180" sortable></el-table-column>
            <el-table-column align="center" prop="headPhoto" label="头像" width="180" padding="0px"
                             :show-overflow-tooltip="true">
                <!--<template slot-scope="scope">
                    <img :src="scope.row.headPhoto" alt="图片加载中" style="width: 36px; height: 36px;padding: 0; margin: 0">
                </template>-->
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="right">
                        <img :src="scope.row.headPhoto" alt="图片加载中" style="width: 120px; height: 120px;">
                        <div slot="reference" class="name-wrapper">
                            <img :src="scope.row.headPhoto" alt="图片加载中"
                                 style="width: 24px; height: 24px;padding: 0; margin: 0">
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column align="center" prop="personBrief" label="个人简介" width="180"
                             :show-overflow-tooltip="true"></el-table-column>
            <el-table-column align="center" prop="sex" label="性别" :formatter="formatSex" width="180"></el-table-column>
            <el-table-column align="center" prop="visitCard" label="邀请码" width="180"></el-table-column>
            <el-table-column align="center" prop="loginType" label="登录方式" width="180"></el-table-column>
            <el-table-column align="center" prop="loginStatus" label="登录状态" width="180"></el-table-column>
            <el-table-column align="center" prop="loginDate" label="登录时间" width="180"></el-table-column>
            <el-table-column align="center" fixed="right" label="操作" width="200">
                <template slot-scope="scope">
                    <el-button th:if="${#authorization.expression('hasAnyRole(''__${edit}__'')')}" size="mini" type="primary" icon="el-icon-edit"
                               @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button th:if="${#authorization.expression('hasAnyRole(''__${delete}__'')')}" size="mini" type="danger" icon="el-icon-delete"
                               @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:10px;">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo"
                           :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper" :total="total"
                           style="float:right"></el-pagination>
        </el-col>
    </template>
</div>
</body>
<script th:src="@{/js/vue/common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //Vue.http.options.emulateJSON = true;
    //Vue.http.options.emulateHTTP = true;
    //console.log([[${_csrf.headerName}]] + ':' + [[${_csrf.token}]]);
    var headerName = [[${_csrf.headerName}]];
    axios.defaults.headers.common[headerName] = [[${_csrf.token}]];

    var requestUrls = {
        list: "/api/oauthUsers/data",
        add: "/api/oauthUsers/add",
        edit: "/api/oauthUsers/edit?id=",
        delete: "/api/oauthUsers/ids/",
        import: "/api/oauthUsers/import",
        export: "/api/oauthUsers/export"
    };

    var app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            pageNo: 1,
            pageSize: 10,
            total: 1000,
            tableLoading: true,
            searchForm: {
                username: '',
                enabled: null,
                phone: '',
                email: '',
                sex: null
            }
        },
        mounted: function () {
            this.loadData(this.pageNo, this.pageSize);
        },
        methods: {
            indexSerial(index) {
                return index + 1 + (this.pageNo - 1) * this.pageSize;
            },
            loadData(pageNo, pageSize) {
                if (!isNaN(pageNo)) {
                    this.pageNo = pageNo;
                }
                if (!isNaN(pageSize)) {
                    this.pageSize = pageSize;
                }
                var params_ = {
                    pageNo: this.pageNo,
                    pageSize: this.pageSize
                };
                for (let i in this.searchForm) {
                    if (this.searchForm[i] && this.searchForm[i].trim() != "") {
                        params_[i] = this.searchForm[i];
                    }
                }

                this.tableLoading = true;
                this.$http.get(requestUrls.list, {
                    params: params_
                }).then(response => {
                    this.tableLoading = false;
                    this.total = parseInt(response.data.total);
                    this.tableData = [];
                    for (let key in response.data.rows) {
                        this.$set(this.tableData, key, response.data.rows[key]);
                    }
                }).catch((error) => {
                    this.tableLoading = false;
                    let errorMessage = "发生错误";
                    if (error.response) {
                        errorMessage = error.response.data.message;
                    }
                    parent.showError(errorMessage);
                });
            },
            //每页显示数据量变更
            handleSizeChange(val) {
                this.pageSize = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            //页码变更
            handleCurrentChange(val) {
                this.pageNo = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            doSearch(event) {
                this.pageNo = 1;
                this.loadData(this.pageNo, this.pageSize);
            },
            doReset(event) {
                for (let i in this.searchForm) {
                    this.searchForm[i] = null;
                }
                this.doSearch(event);
            },
            formatSex(row, column) {
                let list = [[${sexTypeList}]];
                for (let i = 0; i < list.length; i++) {
                    if (String(row.sex) === String(list[i]["typeCode"])) {
                        return list[i]["typeName"];
                    }
                }
                return row.sex;
            },
            formatEnabled(row, column) {
                let list = [[${enabledStatusList}]];
                for (let i = 0; i < list.length; i++) {
                    if (String(row.enabled) === String(list[i]["typeCode"])) {
                        return list[i]["typeName"];
                    }
                }
            },
            formatHeadPhoto(row, column) {
                let value = row.headPhoto;
                if (!value) {
                    return '';
                }
                return '<img class="image-thumb" src="' + [[${filePathPrefix}]] + value + '" alt="头像" width="30px">';
            },
            handleEdit(index, row) {
                parent.showWindow({
                    title: '修改',
                    content: requestUrls.edit + row.id
                });
            },
            handleDelete(index, row) {
                parent.showDelete(index, row);
            },
            doAdd(event) {
                parent.showWindow({
                    title: '新增',
                    content: requestUrls.add
                });
            },
            doEdit(event) {

            },
            doDelete(index, row) {
                this.$http.delete(requestUrls.delete + row.id)
                    .then((response) => {
                        parent.showSuccess("删除成功");
                        this.loadData(this.pageNo, this.pageSize);
                    }).catch((response) => {
                    console.error(response);
                });
            },
            doImport(event) {
                this.$http.get(requestUrls.import, {}).then(function (response) {
                    this.$notify({
                        title: '提示',
                        message: response.data.message,
                        position: 'bottom-right',
                        duration: 2000
                    });
                }).catch(function (response) {
                    console.error(response);
                });
            },
            doExport(event) {
                window.open(requestUrls.export);
            }
        }
    });

    function iframeMethond(index, row) {
        console.log('iframeMethond');
        app.doDelete(index, row);
    }

    function iframeUpdateList() {
        app.loadData(app.pageNo, app.pageSize);
    }

    /*]]>*/
</script>
</html>