<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/vue/vue-list :: head('权限列表', 'list')"></head>
<body>
<div id="app">
    <template>
        <div style="margin-left: 6px;margin-bottom: 6px;">
            <el-form :inline="true" :model="searchForm" style="margin: 0; padding: 0;">
                <el-form-item label="类名">
                    <el-input size="small" v-model="searchForm.beanName" placeholder="请输入类名" clearable></el-input>
                </el-form-item>
                <el-form-item label="job状态">
                    <el-select size="small" v-model="searchForm.jobStatus" placeholder="请选择">
                        <el-option
                                v-for="item in jobStatusList"
                                :key="item.typeCode"
                                :label="item.typeName"
                                :value="item.typeCode">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size="mini" icon="el-icon-search" @click="doSearch">搜索</el-button>
                    <el-button size="mini" icon="el-icon-refresh" @click="doReset">重置</el-button>
                </el-form-item>
            </el-form>
            <el-button th:if="${#authorization.expression('hasAnyRole(''__${add}__'')')}" type="primary" size="mini"
                       icon="el-icon-plus" @click="doAdd">新增
            </el-button>
            <el-button type="primary" size="mini" icon="el-icon-upload2" @click="doImport">导入</el-button>
            <el-button type="primary" size="mini" icon="el-icon-download" @click="doExport">导出</el-button>
        </div>
        <el-table border stripe size="medium" height="355" :data="tableData" highlight-current-row
                  style="font-size: 12px"
                  v-loading="tableLoading" cell-style="padding:1px">
            <el-table-column align="center" type="index" :index="indexSerial" width="50"></el-table-column>
            <!--<el-table-column align="center" prop="id" label="id" width="180"></el-table-column>-->
            <el-table-column align="center" prop="cronExpression" label="cron表达式" width="180"></el-table-column>
            <el-table-column align="center" prop="jobName" label="任务名" width="180"></el-table-column>
            <el-table-column align="center" prop="beanName" label="完全限定类名" width="240"
                             :show-overflow-tooltip="true"></el-table-column>
            <el-table-column align="center" prop="description" label="描述" width="180"></el-table-column>
            <el-table-column align="center" prop="triggerName" label="触发器名称" width="180"></el-table-column>
            <el-table-column align="center" prop="jobStatus" label="任务状态" width="180" :formatter="formatJobStatus"></el-table-column>
            <el-table-column align="center" label="操作" width="400">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" icon="el-icon-circle-check-outline"
                               @click="handleStartJob(scope.$index, scope.row)">启动
                    </el-button>
                    <el-button size="mini" type="primary" icon="el-icon-circle-close-outline"
                               @click="handleStopJob(scope.$index, scope.row)">暂停
                    </el-button>
                    <el-button th:if="${#authorization.expression('hasAnyRole(''__${edit}__'')')}" size="mini"
                               type="primary" icon="el-icon-edit"
                               @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button th:if="${#authorization.expression('hasAnyRole(''__${delete}__'')')}" size="mini"
                               type="danger" icon="el-icon-delete"
                               @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:10px;">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo"
                           :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper" :total="total"
                           style="float:right"></el-pagination>
        </el-col>
    </template>
</div>
</body>
<script th:src="@{/js/vue/common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //Vue.http.options.emulateJSON = true;
    //Vue.http.options.emulateHTTP = true;
    var headerName = [[${_csrf.headerName}]];
    axios.defaults.headers.common[headerName] = [[${_csrf.token}]];

    var requestUrls = {
        list: "/api/quartzJobs/data",
        add: "/api/quartzJobs/add",
        edit: "/api/quartzJobs/edit?id=",
        delete: "/api/quartzJobs/ids/",
        updateJobStatus: "/api/quartzJobs/updateJobStatus"
    };

    var app = new Vue({
        el: '#app',
        data: {
            jobStatusList: [[${jobStatusList}]],
            tableData: [],
            pageNo: 1,
            pageSize: 10,
            total: 1000,
            tableLoading: true,
            searchForm: {
                beanName: '',
                jobStatus: ''
            }
        },
        mounted: function () {
            this.loadData(this.pageNo, this.pageSize);
        },
        methods: {
            indexSerial(index) {
                return index + 1 + (this.pageNo - 1) * this.pageSize;
            },
            loadData(pageNo, pageSize) {
                if (!isNaN(pageNo)) {
                    this.pageNo = pageNo;
                }
                if (!isNaN(pageSize)) {
                    this.pageSize = pageSize;
                }
                var params_ = {
                    pageNo: this.pageNo,
                    pageSize: this.pageSize
                };
                for (let i in this.searchForm) {
                    if (this.searchForm[i] && this.searchForm[i].trim() != "") {
                        params_[i] = this.searchForm[i];
                    }
                }

                this.tableLoading = true;
                this.$http.get(requestUrls.list, {
                    params: params_
                }).then((response) => {
                    this.tableLoading = false;
                    this.total = parseInt(response.data.total);
                    this.tableData = [];
                    for (let key in response.data.rows) {
                        this.$set(this.tableData, key, response.data.rows[key]);
                    }
                }).catch((response) => {
                    this.tableLoading = false;
                    console.error(response);
                    parent.showMsg("发生错误");
                });
            },
            //每页显示数据量变更
            handleSizeChange(val) {
                this.pageSize = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            //页码变更
            handleCurrentChange(val) {
                this.pageNo = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            doSearch(event) {
                this.pageNo = 1;
                this.loadData(this.pageNo, this.pageSize);
            },
            doReset(event) {
                for (let i in this.searchForm) {
                    this.searchForm[i] = null;
                }
                this.doSearch(event);
            },
            formatJobStatus(row, column) {
                let list = [[${jobStatusList}]];
                let value = row.jobStatus;
                for (let i = 0; i < list.length; i++) {
                    if (String(value) === String(list[i]["typeCode"])) {
                        return list[i]["typeName"];
                    }
                }
                return value;
            },
            handleStartJob(index, row) {
                parent.openLoading();
                this.$http.post(requestUrls.updateJobStatus, {
                    id: row.id,
                    jobStatus: 1
                }).then((response) => {
                        parent.closeLoading();
                        parent.showMsg("任务已启动");
                        parent.updateListData();
                        closeLayer();
                    }).catch((error) => {
                    let errorMessage = "发生错误";
                    if (error.response) {
                        errorMessage = error.response.data.message;
                    }
                    parent.closeLoading();
                    parent.showError(errorMessage);
                });
            },
            handleStopJob(index, row) {
                parent.openLoading();
                this.$http.post(requestUrls.updateJobStatus, {
                    id: row.id,
                    jobStatus: 0
                }).then((response) => {
                    parent.closeLoading();
                    parent.showMsg("任务已停止");
                    parent.updateListData();
                    closeLayer();
                }).catch((error) => {
                    let errorMessage = "发生错误";
                    if (error.response) {
                        errorMessage = error.response.data.message;
                    }
                    parent.closeLoading();
                    parent.showError(errorMessage);
                });
            },
            handleEdit(index, row) {
                parent.showWindow({
                    title: '修改',
                    content: requestUrls.edit + row.id
                });
            },
            handleDelete(index, row) {
                parent.showDelete(index, row);
            },
            doAdd(event) {
                parent.showWindow({
                    title: '新增',
                    content: requestUrls.add
                });
            },
            doEdit(event) {

            },
            doDelete(index, row) {
                this.$http.delete(requestUrls.delete + row.id)
                    .then((response) => {
                        parent.showMsg("删除成功");
                        this.loadData(this.pageNo, this.pageSize);
                    }).catch((response) => {
                    console.error(response);
                });
            },
            doImport(event) {
                this.$http.get("/api/authorities/import", {}).then(function (response) {
                    this.$notify({
                        title: '提示',
                        message: response.data.message,
                        position: 'bottom-right',
                        duration: 2000
                    });
                }).catch(function (response) {
                    console.error(response);
                });
            },
            doExport(event) {
                window.open("/api/authorities/export");
            }
        }
    });

    function iframeMethond(index, row) {
        console.log('iframeMethond');
        app.doDelete(index, row);
    }

    function iframeUpdateList() {
        app.loadData(app.pageNo, app.pageSize);
    }

    /*]]>*/
</script>
</html>