/**
* 
* User: simon
* Date: 2018/12/26
* Time: 12:30
**/
body {
    width: 100%;
    height:100%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
}

#code,#codeimg{
    width:100%;
    font-size:16px;
    font-style:italic;
    color:green;
    border:0;
    letter-spacing:3px;
    font-weight:bolder;
}

#qrcode {
    width:200px;
    height:200px;
    text-align:center;
    margin:0 auto;
}

#refreshQrCode{
    visibility: hidden;
    text-align:center;
}

#jumpHint{
    display: none;
    margin:0 auto 6px auto;//上右下左
}

.hint{
    color:white;
    text-align:center;
    margin: 0 auto;
    border:1px solid #a1a1a1;
    padding:6px 6px;
    width:200px;
    border-radius:25px;
    -moz-border-radius:25px; /* 老的 Firefox */
}

.success{
    background-color: mediumseagreen;
}

.warn{
    background-color: red;
}