#content-center{
    padding: 6px;
    position:absolute;
    width:360px;
    height:420px;
    top:50%;
    left:50%;
    margin-top:-210px;
    margin-left:-180px;
    background:white;
}

.input_control{
    width:320px;
    margin:20px auto;
}
.input_text, .button{
    box-sizing: border-box;
    text-align:center;
    font-size:16px;
    height:40px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
}

/**
验证码输入框
 */
#input_vericode{
    vertical-align: middle;
    text-align:center;
    font-size:16px;
    height:40px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    outline:0;
    padding:0 1em;
    margin: auto;
    text-decoration:none;
    width:180px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.button {
    color: white;
    background-color: skyblue;
}

.button:active{
    background-color: deepskyblue;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/
.input-text:focus{
    border:1px solid #ff7496;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #6a6f77;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #6a6f77;
}
input::-webkit-input-placeholder{
    color: #6a6f77;
}

body{background-color: #2D2D2D}

#mydiv{
    height: 100%;
    width: 100%;
}

#code,#codeimg{
    width:80px;
    font-size:16px;
    font-style:italic;
    color:green;
    border:0;
    padding:6px;
    letter-spacing:3px;
    font-weight:bolder;
}

#codeimg{
    float: right;
}

h2{
    margin: 0 0 0 30px;
    text-align: center;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
.error{
    color:red;
}

#qrcode {
    width:200px;
    height:200px;
    text-align:center;
    margin:0 auto;
}

#refreshQrCode{
    visibility: hidden;
    text-align:center;
}

#jumpHint{
    display: none;
    margin:0 auto 6px auto;//上右下左
}

.hint{
    color:white;
    text-align:center;
    margin: 0 auto;
    border:1px solid #a1a1a1;
    padding:6px 6px;
    width:200px;
    border-radius:25px;
    -moz-border-radius:25px; /* 老的 Firefox */
}

.success{
    background-color: mediumseagreen;
}

.warn{
    background-color: red;
}

.paramInfo{
    text-align:center;
    color:red;
}