<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/vue/vue-list :: head('权限列表', 'list')"></head>
<body>
<div id="app">
    <template>
        <div style="margin-left: 6px;margin-bottom: 6px;">
            <el-form :inline="true" :model="searchForm" style="margin: 0; padding: 0;">
                <el-form-item label="表名">
                    <el-input size="small" v-model="searchForm.tableName" placeholder="请输入表名" clearable></el-input>
                </el-form-item>
                <el-form-item label="表标注">
                    <el-input size="small" v-model="searchForm.tableComment" placeholder="请输入表标注" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size="mini" icon="el-icon-search" @click="doSearch">搜索</el-button>
                    <el-button size="mini" icon="el-icon-refresh" @click="doReset">重置</el-button>
                </el-form-item>
            </el-form>
            <el-button type="primary" size="mini" icon="el-icon-plus" @click="doAdd">新增</el-button>
            <el-button type="primary" size="mini" icon="el-icon-upload2" @click="doImport">导入</el-button>
            <el-button type="primary" size="mini" icon="el-icon-download" @click="doExport">导出</el-button>
        </div>
        <el-table border stripe size="medium" height="355" :data="tableData" highlight-current-row
                  style="font-size: 12px"
                  v-loading="tableLoading" cell-style="padding:1px">
            <el-table-column align="center" type="index" :index="indexSerial" width="50"></el-table-column>
            <el-table-column align="center" prop="tableName" label="表名" width="180"></el-table-column>
            <el-table-column align="center" prop="tableComment" label="表标注" width="180"></el-table-column>
            <el-table-column align="center" prop="entityName" label="实体类名" width="180"></el-table-column>
            <el-table-column align="center" label="操作" width="200">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" icon="el-icon-edit"
                               @click="handleCodeGen(scope.$index, scope.row)">代码生成
                    </el-button>
                    <!--<el-button size="mini" type="primary" icon="el-icon-edit"
                               @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button size="mini" type="danger" icon="el-icon-delete"
                               @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>-->
                </template>
            </el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:10px;">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo"
                           :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper" :total="total"
                           style="float:right"></el-pagination>
        </el-col>
    </template>
</div>
</body>
<script th:src="@{/js/vue/common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //Vue.http.options.emulateJSON = true;
    //Vue.http.options.emulateHTTP = true;
    var headerName = [[${_csrf.headerName}]];
    axios.defaults.headers.common[headerName] = [[${_csrf.token}]];

    var requestUrls = {
        list: "/api/tables/data",
        add: "/api/tables/add",
        edit: "/api/tables/edit?id=",
        delete: "/api/tables/ids/"
    };

    var app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            pageNo: 1,
            pageSize: 10,
            total: 1000,
            tableLoading: true,
            searchForm: {
                tableName: '',
                tableComment: ''
            }
        },
        mounted: function () {
            this.loadData(this.pageNo, this.pageSize);
        },
        methods: {
            indexSerial(index) {
                return index + 1 + (this.pageNo - 1) * this.pageSize;
            },
            loadData(pageNo, pageSize) {
                if (!isNaN(pageNo)) {
                    this.pageNo = pageNo;
                }
                if (!isNaN(pageSize)) {
                    this.pageSize = pageSize;
                }
                var params_ = {
                    pageNo: this.pageNo,
                    pageSize: this.pageSize
                };
                for (let i in this.searchForm) {
                    if (this.searchForm[i] && this.searchForm[i].trim() != "") {
                        params_[i] = this.searchForm[i];
                    }
                }

                this.tableLoading = true;
                this.$http.get(requestUrls.list, {
                    params: params_
                }).then((response) => {
                    this.tableLoading = false;
                    this.total = parseInt(response.data.total);
                    this.tableData = [];
                    for (let key in response.data.rows) {
                        this.$set(this.tableData, key, response.data.rows[key]);
                    }
                }).catch((response) => {
                    this.tableLoading = false;
                    console.error(response);
                    parent.showMsg("发生错误");
                });
            },
            //每页显示数据量变更
            handleSizeChange(val) {
                this.pageSize = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            //页码变更
            handleCurrentChange(val) {
                this.pageNo = val;
                this.loadData(this.pageNo, this.pageSize);
            },
            doSearch(event) {
                this.pageNo = 1;
                this.loadData(this.pageNo, this.pageSize);
            },
            doReset(event) {
                for (let i in this.searchForm) {
                    this.searchForm[i] = null;
                }
                this.doSearch(event);
            },
            formatSex(row, column) {
                let list = [[${sexTypeList}]];
                for (let i = 0; i < list.length; i++) {
                    if (String(row.sex) === String(list[i]["typeCode"])) {
                        return list[i]["typeName"];
                    }
                }
                return row.sex;
            },
            formatEnabled(row, column) {
                let list = [[${enabledStatusList}]];
                for (let i = 0; i < list.length; i++) {
                    if (String(row.enabled) === String(list[i]["typeCode"])) {
                        return list[i]["typeName"];
                    }
                }
            },
            formatHeadPhoto(row, column) {
                let value = row.headPhoto;
                if (!value) {
                    return '';
                }
                return '<img class="image-thumb" src="' + [[${filePathPrefix}]] + value + '" alt="头像" width="30px">';
            },
            handleCodeGen(index, row) {
                parent.showWindow({
                    title: '代码生成',
                    content: '/api/tables/codeGenerate?tableName=' + row.tableName + '&entityName=' + row.entityName + '&tableComment=' + row.tableComment
                });
            },
            handleEdit(index, row) {
                parent.showWindow({
                    title: '新增',
                    content: '/api/tables/codeGenerate?tableName=' + row.tableName + '&entityName=' + row.entityName + '&tableComment=' + row.tableComment
                });
            },
            handleDelete(index, row) {
                parent.showDelete(index, row);
            },
            doAdd(event) {
                parent.showWindow({
                    title: '新增',
                    content: requestUrls.add
                });
            },
            doEdit(event) {

            },
            doDelete(index, row) {
                this.$http.delete(requestUrls.delete + row.userId)
                    .then((response) => {
                        parent.showMsg("删除成功");
                        this.loadData(this.pageNo, this.pageSize);
                    }).catch((response) => {
                    console.error(response);
                });
            },
            doImport(event) {
                this.$http.get("/api/authorities/import", {}).then(function (response) {
                    this.$notify({
                        title: '提示',
                        message: response.data.message,
                        position: 'bottom-right',
                        duration: 2000
                    });
                }).catch(function (response) {
                    console.error(response);
                });
            },
            doExport(event) {
                window.open("/api/authorities/export");
            }
        }
    });

    function iframeMethond(index, row) {
        console.log('iframeMethond');
        app.doDelete(index, row);
    }

    function iframeUpdateList() {
        app.loadData(app.pageNo, app.pageSize);
    }

    /*]]>*/
</script>
</html>