<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.OauthAccessTokenMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.OauthAccessToken">
    <id column="authentication_id" jdbcType="VARCHAR" property="authenticationId" />
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.simon.model.OauthAccessTokenWithBLOBs">
    <result column="token" jdbcType="BINARY" property="token" />
    <result column="authentication" jdbcType="BINARY" property="authentication" />
  </resultMap>
  <sql id="Base_Column_List">
    authentication_id, token_id, user_name, client_id, refresh_token
  </sql>
  <sql id="Blob_Column_List">
    token, authentication
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oauth_access_token
    where authentication_id = #{authenticationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oauth_access_token
    where authentication_id = #{authenticationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simon.model.OauthAccessTokenWithBLOBs">
    insert into oauth_access_token (authentication_id, token_id, user_name, 
      client_id, refresh_token, token, 
      authentication)
    values (#{authenticationId,jdbcType=VARCHAR}, #{tokenId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{clientId,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, #{token,jdbcType=BINARY}, 
      #{authentication,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.simon.model.OauthAccessTokenWithBLOBs">
    insert into oauth_access_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authenticationId != null">
        authentication_id,
      </if>
      <if test="tokenId != null">
        token_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="refreshToken != null">
        refresh_token,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="authentication != null">
        authentication,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authenticationId != null">
        #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="tokenId != null">
        #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=BINARY},
      </if>
      <if test="authentication != null">
        #{authentication,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.model.OauthAccessTokenWithBLOBs">
    update oauth_access_token
    <set>
      <if test="tokenId != null">
        token_id = #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=BINARY},
      </if>
      <if test="authentication != null">
        authentication = #{authentication,jdbcType=BINARY},
      </if>
    </set>
    where authentication_id = #{authenticationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.simon.model.OauthAccessTokenWithBLOBs">
    update oauth_access_token
    set token_id = #{tokenId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      token = #{token,jdbcType=BINARY},
      authentication = #{authentication,jdbcType=BINARY}
    where authentication_id = #{authenticationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.model.OauthAccessToken">
    update oauth_access_token
    set token_id = #{tokenId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR}
    where authentication_id = #{authenticationId,jdbcType=VARCHAR}
  </update>
</mapper>