<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.OauthUserMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.OauthUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="headPhoto" jdbcType="VARCHAR" property="head_photo" />
    <result column="personBrief" jdbcType="VARCHAR" property="person_brief" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="visitCard" jdbcType="VARCHAR" property="visit_card" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, enabled, email, phone, enable
  </sql>

  <update id="updatePwdByPhone">
    update users set password=#{password} where phone=#{phone}
  </update>
</mapper>