<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.SideMenuGroupMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.SideMenuGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="menu_group_name" jdbcType="CHAR" property="menuGroupName" />
    <result column="menu_group_authority" jdbcType="CHAR" property="menuGroupAuthority" />
    <result column="menu_group_icon" jdbcType="CHAR" property="menuGroupIcon" />
    <result column="order_num" jdbcType="CHAR" property="orderNum" />
  </resultMap>
</mapper>