<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="head_photo" jdbcType="VARCHAR" property="headPhoto" />
    <result column="person_brief" jdbcType="VARCHAR" property="personBrief" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="visit_card" jdbcType="VARCHAR" property="visitCard" />
  </resultMap>
  <sql id="Base_Column_List">
    id, address, age, birth, email, head_photo, person_brief, phone, sex, user_id, username, 
    visit_card
  </sql>
</mapper>