<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.w3.org/1999/xhtml">
<head th:replace="components/easyui/easyui-list :: head('新闻', 'easyui')">
<body>
<div id="tb">
    <div class="datagrid-toolbar" style="padding-bottom: 6px">
        标题: <input class="easyui-textbox" style="width: 160px" id="search_title" name="title" data-options="required:false">
        状态: <t:dict class="easyui-combobox" id="search_status" name="status" dict-name="news_status"  style="width:160px" allow-empty="true"></t:dict>
        新闻类型: <t:dict class="easyui-combobox" id="search_newsType" name="newsType" dict-name="news_status"  style="width:160px" allow-empty="true"></t:dict>
        <a href="javascript:void(0)" class="easyui-linkbutton c-primary" style="width:80px" onclick="doSearch()"><i class="fa fa-search" aria-hidden="true"></i> <span th:text="#{search}"></span></a>
        <a href="javascript:void(0)" class="easyui-linkbutton c-basic" style="width:80px" onclick="doSearchReset()"><i class="fa fa-repeat" aria-hidden="true"></i> <span th:text="#{reset}"></span></a>
    </div>
    <div class="datagrid-toolbar easyui-panel" style="padding:5px;">
        <a href="javascript:void(0)" class="easyui-linkbutton c-primary" style="width:80px" data-options="toggle:true,group:'g1'" onclick="doAdd()"><i class="fa fa-plus" aria-hidden="true"></i> <span th:text="#{add}"></span></a>
        <a href="javascript:void(0)" class="easyui-linkbutton c-warning" style="width:80px" data-options="toggle:true,group:'g1'" onclick="doEdit()"><i class="fa fa-pencil" aria-hidden="true"></i> <span th:text="#{edit}"></span></a>
        <a href="javascript:void(0)" class="easyui-linkbutton c-danger" style="width:80px" data-options="toggle:true,group:'g1'" onclick="doDelete()"><i class="fa fa-trash" aria-hidden="true"></i> <span th:text="#{delete}"></span></a>
    </div>
</div>
<table id="tt">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'id'">id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'createBy'">创建人id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'createDate'">创建时间</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'updateBy'">更新人id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'updateDate'">更新时间</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'title'">标题</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'userId'">用户id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'status',formatter:formatNewsStatus">状态</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'content',formatter:formatContent">新闻内容</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'imageUrl',formatter:formatPic">缩略图</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'publishDate'">发布时间</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'tags'">标签</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'newsType',formatter:formatNewsStatus">新闻类型</th>
    </tr>
    </thead>
</table>
<div id="dlg" class="easyui-dialog" data-options="title:'图片信息',closed:true,border:false" style="width:480px;height:480px;padding:10px"></div>
<div id="window_content" class="easyui-window" title="内容详情" data-options="modal:true,closed:true,collapsible:false,border:false" style="width:720px;height:480px;padding:10px;"></div>
<div th:replace="components/easyui/easyui-list :: js('easyui')"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $('#tt').datagrid({
            url: '/api/newsInfos/data',
            method: 'get',
            idField: 'id',
            nowrap: false,
            animate: true,
            rownumbers: true,
            fit: true,
            toolbar: '#tb',
            pagination: true,
            singleSelect: false,
            selectOnCheck: true,
            checkOnSelect: true
        });
    });

    function doSearch() {
        $('#tt').datagrid('load', {
            title: $('#search_title').val(),
            status: $('#search_status').val(),
            newsType: $('#search_newsType').val(),
        });
    }

    function doSearchReset() {
        $('#search_title').textbox('setValue', '');
        $('#search_status').combobox('select', '');
        $('#search_newsType').combobox('select', '');
        doSearch();
    }

    function doAdd() {
        parent.showWindow({
            title:'录入',
            content:'/api/newsInfos/add'
        });
    }

    function doEdit() {
        //获取选中的第一行数据
        //var row = $('#tt').datagrid('getSelected');
        //获取选中的所有行数据
        let rows = $('#tt').datagrid('getSelections');
        if(rows.length == 1){
            let row = rows[0];
            parent.showWindow({
                title:'编辑',
                content:'/api/newsInfos/edit?id=' + row.id
            });
        }else{
            $.messager.alert('提示信息','请选择一条数据！','error');
        }
    }

    function doDelete() {
        deleteRequest('/api/newsInfos/ids/');
    }

    function formatIcon(val, row){
        return '<i class="' + val + '" aria-hidden="true"></i>';
    }

    function formatPic(val, row) {
        if(!val){
            return '';
        }
        return '<img class="image-thumb" src="' + [[${filePathPrefix}]] + val + '" alt="头像" width="30px">';
    }

    function formatContent(val, row) {
        console.log(row.id.toString());
        return "<a href=\"javascript:void(0)\" class=\"button button-rounded button-small button-primary\" onclick='showContent(\""  + row.id.toString() + "\")'>查看</a>";
    }

    function showContent(val) {
        let rows = $('#tt').datagrid('getSelections');
        $('#window_content').html(rows[0].content);
        $('#window_content').window('open');
    }

    function formatNewsStatus(value, row) {
        let newsStatusList = [[${newsStatusList}]];
        for(let i = 0; i < newsStatusList.length; i++){
            if(value == newsStatusList[i].typeCode){
                return newsStatusList[i].typeName;
            }
        }
        return value;
    }
    function formatNewsStatus(value, row) {
        let newsStatusList = [[${newsStatusList}]];
        for(let i = 0; i < newsStatusList.length; i++){
            if(value == newsStatusList[i].typeCode){
                return newsStatusList[i].typeName;
            }
        }
        return value;
    }
    /*]]>*/
</script>
</body>
</html>