<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <style>
        body{
            padding-bottom: 240px;
        }
    </style>
</head>
<body>
<div id="content"></div>

<!-- jQuery 3 -->
<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
<script>
    $(function(){
        for(let i = 0; i < 100; i++){
            $('#content').append('<div>测试' + i + '</div>');
        }
    });
</script>
</body>
</html>