<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title,modules)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="${title}"></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>-->
    <script th:src="@{/webjars/vue/2.6.9/dist/vue.min.js}"></script>
    <!--<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>-->
    <script th:src="@{/webjars/axios/0.19.0-beta.1/dist/axios.min.js}"></script>

    <!-- element ui start -->

    <!-- 最新版 start -->
    <!--&lt;!&ndash; 引入样式 &ndash;&gt;
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    &lt;!&ndash; 引入组件库 &ndash;&gt;
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/zh-CN.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>-->
    <!-- 最新版 end -->

    <!-- webjar版 start -->
    <!-- 引入样式 -->
    <link th:href="@{/webjars/element-ui/2.9.1/lib/theme-chalk/index.css}" rel="stylesheet">
    <!-- 引入组件库 -->
    <script th:src="@{/webjars/element-ui/2.9.1/lib/index.js}"></script>
    <script th:src="@{/webjars/element-ui/2.9.1/lib/umd/locale/zh-CN.js}"></script>
    <script th:src="@{/webjars/element-ui/2.9.1/lib/umd/locale/en.js}"></script>
    <!-- webjar版 end -->

    <!--- element ui end  -->

    <!-- font awesome -->
    <!--<script src="https://cdn.bootcss.com/font-awesome/5.8.1/js/all.min.js"></script>-->
    <script th:src="@{/webjars/font-awesome/5.8.1/js/all.min.js}"></script>
    <!--<link rel="stylesheet" href="https://unpkg.com/vue-element-extends/lib/index.css">-->
    <link rel="stylesheet" th:href="@{/plug-in/vue-element-extends/1.2.20/lib/index.css}">
    <!-- 引入脚本 -->
    <!--<script src="https://unpkg.com/xe-utils"></script>-->
    <script th:src="@{/plug-in/xe-utils/1.9.4/dist/xe-utils.min.js}"></script>
    <!--<script src="https://unpkg.com/vue-element-extends"></script>-->
    <script th:src="@{/plug-in/vue-element-extends/1.2.20/lib/index.umd.js}"></script>
    <!-- 全局js -->
    <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/plugins/layer-v3.1.1/layer/layer.js}"></script>
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'list')}" th:href="@{/css/vue/list.css}">
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'commit')}" th:href="@{/css/vue/commit.css}">
    <link rel="stylesheet" th:if="${#strings.containsIgnoreCase(modules,'home')}" th:href="@{/css/vue/home.css}">
    <script th:if="${#strings.containsIgnoreCase(modules,'echarts')}" th:src="@{/webjars/echarts/4.2.1/dist/echarts.min.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'echarts')}" th:src="@{/webjars/echarts/4.2.1/src/theme/light.js}"></script>

    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.17/neditor.config.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.17/neditor.all.min.js}"> </script>
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.17/neditor.service.js}"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.17/i18n/zh-cn/zh-cn.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(modules,'ueditor')}" th:src="@{/plug-in/neditor/2.1.17/third-party/browser-md5-file.min.js}"></script>
</head>
<body>

</body>
</html>