<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.mapper.VillageMapper">
  <resultMap id="BaseResultMap" type="com.simon.model.Village">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="village_id" jdbcType="VARCHAR" property="villageId" />
    <result column="town_id" jdbcType="VARCHAR" property="townId" />
  </resultMap>
</mapper>