<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.w3.org/1999/xhtml">
<head th:replace="components/easyui/easyui-list :: head('quartz任务', 'easyui,upload,ueditor')">
<body>
<div id="tb">
    <div class="datagrid-toolbar" style="padding-bottom: 6px">
        <a href="javascript:void(0)" class="button button-rounded button-small button-primary" onclick="doSearch()" th:text="#{search}"></a>
        <a href="javascript:void(0)" class="button button-rounded button-small" onclick="doSearchReset()" th:text="#{reset}"></a>
    </div>
    <div class="datagrid-toolbar" style="padding-bottom: 6px">
        <div class="button-group">
            <button type="button" class="button button-rounded button-small button-primary" onclick="doAdd()"><i class="fa fa-plus" aria-hidden="true"></i> <span th:text="#{add}"></span></button>
            <button type="button" class="button button-rounded button-small button-action" onclick="doEdit()"><i class="fa fa-pencil" aria-hidden="true"></i> <span th:text="#{edit}"></span></button>
            <button type="button" class="button button-rounded button-small button-caution" onclick="doDelete()"><i class="fa fa-trash" aria-hidden="true"></i> <span th:text="#{delete}"></span></button>
            <!--<a href="javascript:void(0)" class="easyui-linkbutton primary" onclick="doAdd()"><i class="fa fa-plus" aria-hidden="true"></i> <span th:text="#{add}"></span></a>
            <a href="javascript:void(0)" class="easyui-linkbutton info" onclick="doEdit()"><i class="fa fa-pencil" aria-hidden="true"></i> <span th:text="#{edit}"></span></a>
            <a href="javascript:void(0)" class="easyui-linkbutton error" onclick="doDelete()"><i class="fa fa-trash" aria-hidden="true"></i> <span th:text="#{delete}"></span></a>-->
        </div>
    </div>
</div>
<table id="tt" data-options="url:'/api/quartzJobs/easyui/list',method:'get',animate: true,rownumbers:true,fit:true,toolbar: '#tb', pagination: true,idField:'id', singleSelect: true, selectOnCheck: true, checkOnSelect: true">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'id'">id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:true,field:'createBy'">创建人id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:true,field:'createDate'">创建时间</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:true,field:'updateBy'">更新人id</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:true,field:'updateDate'">更新时间</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'cronExpression'">cron表达式</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'methodName'">任务调用的方法名</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'isConcurrent'">任务是否有状态</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'description'">描述</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'beanName'">任务执行时调用哪个类的方法 包名+类名，完全限定名</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'triggerName'">触发器名称</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'jobStatus'">任务状态</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'springBean'">spring_bean</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'jobName'">任务名</th>
        <th data-options="width:200,sortable:true,align:'center',hidden:false,field:'operation',formatter:formatJobAction">操作</th>
    </tr>
    </thead>
</table>
<div id="dlg" class="easyui-dialog" data-options="title:'图片信息',closed:true" style="width:480px;height:480px;padding:10px"></div>
<div id="addModal" class="easyui-window" title="录入" data-options="modal:true,closed:true,collapsible:false" style="width:60%;height:480px;padding:10px;">
    <form id="form_add">
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_cronExpression" name="cronExpression" data-options="label:'cron表达式:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_methodName" name="methodName" data-options="label:'任务调用的方法名:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_isConcurrent" name="isConcurrent" data-options="label:'任务是否有状态:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_description" name="description" data-options="label:'描述:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_beanName" name="beanName" data-options="label:'任务执行时调用哪个类的方法 包名+类名，完全限定名:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_triggerName" name="triggerName" data-options="label:'触发器名称:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_jobStatus" name="jobStatus" data-options="label:'任务状态:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_springBean" name="springBean" data-options="label:'spring_bean:', required:true">
        </div>
        <div>
            <input class="easyui-textbox" style="width: 100%" id="add_jobName" name="jobName" data-options="label:'任务名:', required:true">
        </div>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="button button-rounded button-small button-primary" onclick="add()" th:text="#{ok}"></a>
            <a href="javascript:void(0)" class="button button-rounded button-small" onclick="clearForm()" th:text="#{cancel}"></a>
        </div>
    </form>
</div>

<div id="editModal" class="easyui-window" title="编辑" data-options="modal:true,closed:true,collapsible:false" style="width:640px;height:480px;padding:10px;">
    <form id="form_edit">

        <div style="text-align:center;">
            <a href="javascript:void(0)" class="button button-rounded button-small button-primary" onclick="edit()" th:text="#{ok}"></a>
            <a href="javascript:void(0)" class="button button-rounded button-small" onclick="clearForm()" th:text="#{cancel}"></a>
        </div>
    </form>
</div>
<div id="window_content" class="easyui-window" title="内容详情" data-options="modal:true,closed:true,collapsible:false" style="width:720px;height:480px;padding:10px;"></div>
<div th:replace="components/easyui/easyui-list :: js('easyui,upload,ueditor')"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var addEditor = UE.getEditor('add_editor');
        var editEditor = UE.getEditor('edit_editor');
    });

    function doSearch() {
        $('#tt').treegrid('load', {
        });
    }

    function doSearchReset() {
        doSearch();
    }

    function doAdd() {
        $('#addModal').window('open');
    }

    function doEdit() {
        //获取选中的第一行数据
        //var row = $('#tt').datagrid('getSelected');
        //获取选中的所有行数据
        let rows = $('#tt').datagrid('getSelections');
        if(rows.length == 1){
            let row = rows[0];
            $('#edit_id').textbox('setValue', row.id);
            $('#edit_createBy').textbox('setValue', row.createBy);
            $('#edit_createDate').textbox('setValue', row.createDate);
            $('#edit_updateBy').textbox('setValue', row.updateBy);
            $('#edit_updateDate').textbox('setValue', row.updateDate);
            $('#edit_cronExpression').textbox('setValue', row.cronExpression);
            $('#edit_methodName').textbox('setValue', row.methodName);
            $('#edit_isConcurrent').textbox('setValue', row.isConcurrent);
            $('#edit_description').textbox('setValue', row.description);
            $('#edit_beanName').textbox('setValue', row.beanName);
            $('#edit_triggerName').textbox('setValue', row.triggerName);
            $('#edit_jobStatus').textbox('setValue', row.jobStatus);
            $('#edit_springBean').textbox('setValue', row.springBean);
            $('#edit_jobName').textbox('setValue', row.jobName);
            $('#editModal').window('open');
        }else{
            $.messager.alert('提示信息','请选择一条数据！','error');
        }
    }

    function doDelete() {
        deleteRequest('/api/quartzJobs/ids/');
    }

    function add() {
        doRequest({
            formId: '#form_add',
            url: '/api/quartzJobs',
            type: 'POST',
            extraData: {
            }
        });
    }

    function edit() {
        doRequest({
            formId: '#form_edit',
            url: '/api/quartzJobs',
            type: 'PATCH',
            extraData: {
            }
        });
    }

    function clearForm() {
        $('#form_add').form('clear');
        $('#addModal').window('close');

        $('#form_edit').form('clear');
        $('#editModal').window('close');
    }

    function formatIcon(val, row){
        return '<i class="' + val + '" aria-hidden="true"></i>';
    }

    function formatPic(val, row) {
        if(!val){
            return '';
        }
        return '<img class="image-thumb" src="' + [[${filePathPrefix}]] + val + '" alt="头像" width="30px">';
    }

    function formatContent(val, row) {
        console.log(row.id.toString());
        return "<a href=\"javascript:void(0)\" class=\"button button-rounded button-small button-primary\" onclick='showContent(\""  + row.id.toString() + "\")'>查看</a>";
    }

    function showContent(val) {
        let rows = $('#tt').datagrid('getSelections');
        $('#window_content').html(rows[0].content);
        $('#window_content').window('open');
    }

    function formatJobAction(val, row) {
        return '<button class="button button-circle button-tiny button-action"><i class="fa fa-play" aria-hidden="true"></i></button>'
            + ' <button class="button button-circle button-tiny button-highlight"><i class="fa fa-stop" aria-hidden="true"></i></button>'
            + ' <button class="button button-circle button-tiny button-royal"><i class="fa fa-pencil" aria-hidden="true"></i></button>'
            + ' <button class="button button-circle button-tiny button-caution"><i class="fa fa-trash" aria-hidden="true"></i></button>';
    }
    /*]]>*/
</script>
</body>
</html>